Django==1.6.7
Markdown==2.5
Pillow==2.5.3
PyPDF2==1.23
South==1.0
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.15
django-celery==3.1.16
django-evolution==0.6.9
html5lib==0.999
kombu==3.0.23
pytz==2014.7
reportlab==3.1.8
six==1.8.0
wsgiref==0.1.2
